@import "../../assets/Styles/variables.scss";

.tag{
    border-radius: 15px;
    background-color: $primary-color;
    font-size: 1.75rem;
    line-height: 3rem;
    padding: 1rem;
    display: flex;
    color : $white-color;
}