@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.thumb {
	position: relative;
	height: 340px;
	width: 340px;
	background-color: $primary-color;
	border-radius: 10px;
	@include small-generic {
		height: 255px;
		width: 100%;
	}
	@include mobile-generic {
		height: 255px;
		width: 100%;
	}

	h2 {
		position: absolute;
		font-size: 2.25rem;
		font-weight: 500;
		margin-top: 260px;
		margin-left: 20px;
		width: 60%;
		z-index: 10;
		color: $white-color;
		text-shadow: 1px 0px 0px black;
		@include small-generic {
			margin-top: 200px;
		}
		@include mobile-generic {
			margin-top: 200px;
		}
	}

	div {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		display: flex;
		align-content: stretch;
		align-items: stretch;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}
